<form method="post" class="form-inline">
    <input type="text" class="form-control" name="id" placeholder="Enter shop name"/>
    <input class="btn btn-default" type="submit" value="Search" />
</form>