
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        <br />
        <div>
            Олег Педоренко, ІП-31. Лабораторна 1.
        </div>
        @RenderSection("footer", required: false)
    </footer>
</body>
</html>
